<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>products Data form</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  </head>
  <body>
	 
    <div class="container mt-5 mr-5 border ">
		
		 <h1>Product Details Form </h1>
		<font color="green"> <h3 th:text="${sucessmsg}"/></font>
		<font color="red"><h3 th:text="${Errormsg}"/></font>
		
		<form th:object="${pobj}" th:action="@{/products}" method="post" class="mt-5">
			
				<div class="mb-3 ">
					<label for="exampleInputEmail1" class="form-label">Product Name :</label>
					<input type="text" th:field="*{pname}" id="exampleInputEmail1" required>
				</div>
				<div class="mb-3">
					<label for="exampleInputEmail1" class="form-label">Product Price :</label>
					<input type="number" th:field="*{price}" id="exampleInputEmail1" aria-describedby="emailHelp" required>
				</div>
				<div class="mb-3">
					<label for="exampleInputPassword1" class="form-label">product quantity</label>
					<input type="number" th:field="*{quantity}" required>
				</div>
				<button type="submit" class="btn btn-primary">Submit</button>
			
			<a href="data">view all products</a>
		</form>
	</div>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  </body>
</html>